@inherits avt.MyTokens.Core.ParsingEngine.RazorTemplate
@{
    var Tip=TknParams.Tip.Value.ToString();
    
    if(Tip== "Urban")
    @: <span class="badge bg-warning text-dark">Urban</span>
    if(Tip== "Rural")
    @: <span class="badge bg-success text-dark">Rural</span>
    if(Tip== "Extravilan")
    @: <span class="badge bg-danger text-dark">Extravilan</span>
}